In [7]:
import pandas as pd

In [15]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5452/ny_taxi')

In [13]:

parquet_file = 'green_tripdata_2019-10.parquet'
csv_file = 'green_tripdata_2019-10.csv'

df = pd.read_parquet(parquet_file)
df.to_csv(csv_file, index=False)

print(f"Parquet file converted to CSV at {csv_file}")

Parquet file converted to CSV at green_tripdata_2019-10.csv

## Green Trip Data to Postgres

In [33]:
df_trip = pd.read_csv("/home/nazrin/Desktop/dataeng-zoomcamp/homeworks/green_tripdata_2019-10.csv")
df_trip.head()

/tmp/ipykernel_118773/751207486.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trip = pd.read_csv("/home/nazrin/Desktop/dataeng-zoomcamp/homeworks/green_tripdata_2019-10.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [36]:
len(df_trip)

476386

In [37]:
df_trip.lpep_pickup_datetime = pd.to_datetime(df_trip.lpep_pickup_datetime)
df_trip.lpep_dropoff_datetime = pd.to_datetime(df_trip.lpep_dropoff_datetime)

In [38]:
print(pd.io.sql.get_schema(df_trip, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [39]:
df_trip.to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

386

## Zonas to Postgres

In [29]:
df_zones = pd.read_csv("/home/nazrin/Desktop/dataeng-zoomcamp/homeworks/taxi_zone_lookup.csv")
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [30]:
len(df_zones)

265

In [31]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265